<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation=" http://www.springframework.org/schema/beans 
	http://www.springframework.org/schema/beans/spring-beans.xsd
	http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd">


	<bean id="tubeLightBean"
		class="com.jspiders.spring.tubelight.bean.TubeLightBean">

		<!-- SPRING USES SETTER INITIALIZATION -->

		<property name="brand" value="Phillips"></property>
		<property name="colour" value="All Star"></property>
		<property name="type" value="CFL"></property>
		<property name="price" value="90.98"></property>

	</bean>
</beans>